<div class="container">
  <mat-slide-toggle class="example-margin" color="primary" (change)="setLiveMode($event)">
    Modo CheckIn
  </mat-slide-toggle>

  <mat-slide-toggle class="example-margin" color="warn" (change)="onCameraSlideChange($event)" checked="true">
    Camara
  </mat-slide-toggle>

  <ng-template [ngIf]="currentQrCodeValue.length > 0">
    <div class="right">
      <button mat-raised-button color="accent" (click)="getUserInContext()">Carregar no contexto</button>
    </div>
  </ng-template>
</div>
<mat-divider></mat-divider>

<div class="col-xs-12 col-md-6 col-lg-4 col-xl-3 my-1">
  <select #select1 (change)="action.playDevice(select1.value)" class="form-select form-select-sm">
    <option [value]="null" selected>Select device</option>
    <option *ngFor="let c of action.devices.value; let i = index" [value]="c.deviceId"
      [selected]="i == action.deviceIndexActive">{{c.label}}</option>
  </select>
</div>

<!-- For camera -->

<ngx-scanner-qrcode #action="scanner" (event)="onEvent($event)"></ngx-scanner-qrcode>


<!-- data  -->
<mat-divider></mat-divider>


<!-- Loading -->
<p *ngIf="action.isLoading">⌛ Loading...</p>

<mat-divider></mat-divider>

<ng-container *ngIf="liveMode && userNotFound == false && alreadyCheckedIn == false
              && currentUser.userEmail != '' && currentUser.paid && !userHasComment">
  <mat-card class="mat-app-background basic-container mat-mdc-card-green">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <mat-icon class="mat-large">done_outline</mat-icon>
      </div>
      <mat-card-title></mat-card-title>
    </mat-card-header>
  </mat-card>
</ng-container>

<ng-container *ngIf="userNotFound">
  <mat-card class="mat-app-background basic-container mat-mdc-card-orange">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <mat-icon class="mat-large" color="warning">dangerous</mat-icon>
      </div>
      <mat-card-title>Não encontrado</mat-card-title>
    </mat-card-header>

    <mat-card-content class="card-content">
      Email não encontrado/QR code não reconhecido!
    </mat-card-content>
    <button mat-button (click)="clearSelectedUser()">LIMPAR</button>
  </mat-card>
</ng-container>

<ng-container *ngIf="liveMode && userNotFound == false && currentUser.userEmail != '' && !currentUser.paid">
  <mat-card class="mat-app-background basic-container mat-mdc-card-orange">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <mat-icon class="mat-large" color="warning">dangerous</mat-icon>
      </div>
      <mat-card-title>Não Pago!</mat-card-title>
    </mat-card-header>

    <mat-card-content class="card-content">
      Inscrição não está paga!
    </mat-card-content>
    <button mat-button (click)="clearSelectedUser()">LIMPAR</button>
  </mat-card>
</ng-container>

<ng-container *ngIf="alreadyCheckedIn">
  <mat-card class="mat-app-background basic-container mat-mdc-card-orange">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <mat-icon class="mat-large" color="warning">warning</mat-icon>
      </div>
      <mat-card-title>Já foi checked in!</mat-card-title>
    </mat-card-header>

    <mat-card-content class="card-content">
      Email/utilizador já checked in! Em: {{currentUser.metadata.checkIn.checkInAt | date : "medium"}}
    </mat-card-content>
    <button mat-button (click)="clearSelectedUser()">LIMPAR</button>
  </mat-card>
</ng-container>

<ng-container *ngIf="userHasComment">
  <mat-card
    class="mat-app-background basic-container {{currentUser.checkedIn ? 'mat-mdc-card-yellow' : 'mat-mdc-card-orange'}}">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <mat-icon class="mat-large" color="warning">warning</mat-icon>
      </div>
      <mat-card-title>{{currentUser.checkedIn ? 'Comentário' : 'Verificar Comentário'}}</mat-card-title>
    </mat-card-header>

    <mat-card-content class="card-content">
      {{currentUser.metadata.comment}}
    </mat-card-content>
    <button mat-button (click)="clearSelectedUser()">LIMPAR</button>
    <button mat-button *ngIf="!currentUser.checkedIn && currentUser.paid" (click)="manualCheckInUser()">FAZER CHECK IN
      (JÁ
      VERIFICADO)</button>
  </mat-card>
</ng-container>

<mat-divider></mat-divider>
<ng-container *ngIf="currentUser.userEmail != ''" class="mat-typography">
  <app-user-card [user]="currentUser" (clearSelectedUserEvent)="clearSelectedUser()"
    (manualCheckInSelectedUserEvent)="manualCheckInUser()" (cancelCheckInSelectedUserEvent)="cancelCheckInUser()">
  </app-user-card>
</ng-container>

<mat-divider></mat-divider>
<!-- todo -->
<span *ngIf="currentUser.userEmail != ''">{{currentUser | json}}</span>