<div class="container">
  <mat-slide-toggle class="example-margin" color="warn" (change)="onCameraSlideChange($event)" [checked]="scannerEnabled">
    Camara
  </mat-slide-toggle>

  <ng-template [ngIf]="currentQrCodeValue.length > 0">
    <div class="right">
      <button mat-raised-button color="accent" (click)="getUserInContext()">Carregar no contexto</button>
    </div>
  </ng-template>
</div>
<mat-divider></mat-divider>

<div class="col-xs-12 col-md-6 col-lg-4 col-xl-3 my-1">
  <select #select1 (change)="onDeviceSelectChange(select1.selectedIndex)" class="form-select form-select-sm">
    <option [value]="null" selected>Select device</option>
    <option *ngFor="let c of availableDevices; let i = index" [value]="c.deviceId"
      [selected]="c.deviceId == selectedDevice?.deviceId">{{c.label}}</option>
  </select>
</div>

<!-- For camera -->

<zxing-scanner 
  #action
  [device]="selectedDevice"
  [enable]="scannerEnabled"
  (scanSuccess)="onScanSuccess($event)"
  (camerasFound)="onCamerasFound($event)"
  [autostart]="true"
></zxing-scanner>


<!-- data  -->
<mat-divider></mat-divider>

<!-- Loading -->
<p *ngIf="isLoading">⌛ Loading...</p>

<mat-divider></mat-divider>

<!-- Status cards -->
<app-check-in-status-cards
  [liveMode]="liveMode"
  [userNotFound]="userNotFound"
  [alreadyCheckedIn]="alreadyCheckedIn"
  [userHasComment]="userHasComment"
  [currentUser]="currentUser"
  [isLoading]="isLoading"
  (clearSelectedUserEvent)="clearSelectedUser()"
  (manualCheckInUserEvent)="manualCheckInUser()">
  <span notFoundMessage>Email não encontrado/QR code não reconhecido!</span>
</app-check-in-status-cards>

<mat-divider></mat-divider>
<ng-container *ngIf="currentUser.userEmail !== ''" class="mat-typography">
  <app-user-card [user]="currentUser" (clearSelectedUserEvent)="clearSelectedUser()"
    (manualCheckInSelectedUserEvent)="manualCheckInUser()" (cancelCheckInSelectedUserEvent)="cancelCheckInUser()"
    (editUserEvent)="onEditUser()">
  </app-user-card>
</ng-container>

<mat-divider></mat-divider>
<!-- todo -->
<span *ngIf="currentUser.userEmail !== ''">{{currentUser | json}}</span>
